include common/_mixins
doctype html
html
    include common/_head
    body
        include common/_preloader

        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        include common/_sprites

        include common/_parallax
        +main-menu(2)

        header.header.table-box.fullheight.fullheight_mih
            .table-box__top
                +header-top
            .table-box__middle
                .vertical-aligned
                    .site-author.site-author_blog
                        +avatar("me.jpg", "А у светлой стороны свои плюсы", "Максим Алексеев")
                        +svg-heading("Блог", "icon-blog_header")
                        p.site-author__description Статьи, которые я скопировал, т.к. знаний пока маловато(


                    button.go-down.fa.fa-chevron-down(data-link=".blog")

                    svg(preserveAspectRatio="none" viewBox="0 0 1000 400").header__svg-corner.header__svg-corner_left.header__svg-corner_blog
                        use(xlink:href="#icon-about_bg_left")
                    svg(preserveAspectRatio="none" viewBox="0 0 1000 400").header__svg-corner.header__svg-corner_right.header__svg-corner_blog
                        use(xlink:href="#icon-about_bg_right")


        .blog.last-section
            aside.blog-navigation
                button.blog-navigation__toggle
                nav.blog-navigation__wrapper
                    ul.blog-navigation__links-list
                        li.links-list__item
                            a.links-list__link.active(href="#func") Введение в функциональный JavaScript: Часть 1 | Webtackles.ru
                        li.links-list__item
                            a.links-list__link(href="#sky") Разработчики игры No Man’s Sky защитили название от компании Sky | Geektimes.ru
                        li.links-list__item
                            a.links-list__link(href="#int") Гоcдума предлагает штрафовать тех, кто откажется расшифровывать свой трафик | Geektimes.ru

            section.blog-content
                .article#func
                    h3.article__title Введение в функциональный JavaScript: Часть 1 | Webtackles
                    p.article__date 23 июня 2016
                    .article__content.
                        <p>Эта первая статья из четырех из серии «Ведении в функциональный JavaScript». В этой статье мы посмотрим, что делает JavaScript «функциональным» языком, и узнаем, почему это может быть полезно. </p>
                        <p>Что значит функциональный? </p>
                        <p>Откуда такая шумиха вокруг функционального JavaScript? И почему он называется функциональным? Это совсем не значит, что кто-то пишет на дисфункциональном или нефункциональном Javascript. Для чего это? Почему вам следует об этом задуматься?</p>
                        <p>Функциональный JavaSicprt упрощает определенные задачи. С помощью него можно  автоматизировать некоторые вещи, которые раньше были довольно утомительными и отнимали много времени.</p>
                        <p>Программистам нравится говорить о принципе DRY – не повторяйтесь. Идея заключается в том, что если вам нужно сделать один и тот же набор задач несколько раз, то нужно связать их в какой-то многоразовый контейнер (например, функцию). Таким образом, если вам нужен будет этот набор задач, то вы можете написать их только в одном месте.</p>

                .article#sky
                    h3.article__title Разработчики игры No Man’s Sky защитили название от компании Sky | geektimes.ru
                    p.article__date 22 июня 2016
                    .article__content.
                        <p>Кто бы мог подумать, что научно-фантастическая игра с процедурной генерацией открытого мира No Man’s Sky («Ничейное небо») вызовет какие-то претензии у британской телевещательной компании Sky («Небо»).</p>
                        <p>Оказывается, в течение трёх лет компания Sky UK Limited требовала от разработчиков игры лицензионных отчислений или смены названия игры No Man’s Sky на том основании, что оно якобы нарушает зарегистрированную торговую марку Sky™! </p>
                        <p>Такие судебные претензии могут показаться смешными, но это вовсе не шутка. Именно из-за претензий Sky в 2014 году компания Microsoft была вынуждена переименовать сервис облачного хостинга SkyDrive в OneDrive.</p>
                        <p>Более того, в 2015 году суд Европейского союза даже отказал компании Microsoft в регистрации торговой марки Skype™, поскольку «облачный элемент» в логотипе Skype в совокупности с созвучным названием «может легко ассоциироваться со словом “sky”». Компания Microsoft подала апелляцию.</p>
                        <p>Под раздачу от Sky попали и разработчики игры No Man’s Sky из компании Hello Games. К счастью, им удалось отбиться от нападок обладателя торговой марки. 18 июня управляющий директор студии Шон Мюррей (Sean Murray) сообщил радостную новость, что студия наконец-то смогла уладить юридический спор с компанией Sky, которой принадлежит слово «небо».</p>
                        <p>Учитывая наезд на Microsoft и три года судебной тяжбы с разработчиками No Man’s Sky, аппетитам компании Sky остаётся лишь позавидовать. Похоже, они подают в суд на всех подряд, кто только пытается использовать слово «небо» в любом названии. </p>

                .article#int
                    h3.article__title Гоcдума предлагает штрафовать тех, кто откажется расшифровывать свой трафик | Geektimes.ru
                    p.article__date 21 июня 2016
                    .article__content.
                        <p>Совсем недавно министр связи и массовых коммуникаций РФ Николай Никифоров высказался о невозможности следить и цензурировать сообщения в интернет-мессенджерах и закрытых группах соцсетей: «Это технически невозможно из-за того, что этот трафик зашифрован».</p>
                        <p>И вот теперь ИТАР ТАСС пишет о новой редакции правок к антитеррористическому закону, где предлагается ввести ответственность за отказ расшифровать передаваемый трафик:</p>
                        <p>Неисполнение организатором распространения информации в сети Интернет обязанности предоставлять в федеральный орган исполнительной власти в области обеспечения безопасности информацию, необходимую для декодирования принимаемых, передаваемых, доставляемых или обрабатываемых электронных сообщений", предлагается наказывать штрафом для граждан в размере от 3 тыс. до 5 тыс. рублей, для должностных лиц — от 30 тыс. до 50 тыс. рублей, для юрлиц — от 800 тыс. до 1 млн рублей</p>
                        <p>Понятие «организаторы распространения информации» первый зампред комитета Госдумы по информполитике Вадим Деньгин трактует очень широко:</p>
                        <p>«Это в том числе и мессенджеры, скорее всего. Это также социальные сети, специальные почтовые серверы, почтовые ресурсы, которые имеют кодировку и содержат большое количество посетителей, участников этого процесса»</p>

        include common/_footer
